<!DOCTYPE html>
<html>
  <head>
	  <meta charset='UTF-8'/>
	  <title>Backbone.js Library</title>
		<link rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
	</head>
	<body>
	  <div class='container'>
      <div id='books' class='row'>
		    <form id='addBook' class='form-inline' action='#' role='form'>
			    <div class='from-group'>
				    <label for='coverImage'>Cover</label>
				    <input id='coverImage' class='form-control' type='file'/>
				  </div>
				  </br>
				  <div class='form-group'>
				  	<label class='sr-only' for='title'>Title</label>
				  	<input id='title' class='form-control' type='text' placeholder='Title'>
				  </div>
				  <div class='form-group'>
					  <label class='sr-only' for='author'>Author</label>
					  <input id='author' class='form-control' type='text' placeholder='Author' />
					</div>
					<div class='col-lg-4'>
  					<div class='form-group'>
  					  <div class='input-group'>
                <input id='releaseDate' class='form-control' data-format='MM dd, yyyy' type='text' placeholder='Release Date'></input>
                <span class='input-group-addon'>
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
  					</div>
  				</div>
          <div class='form-group'>
					  <label class='sr-only' for='keywords'>Keywords</label>
					  <input id='keywords' class='form-control' type='text' placeholder='Keywords'/>
					</div>
					<button id='add' class='btn btn-default'>Add</button>
			  </form>
				<br>
		  </div>
	  </div>
    <!-- template for displaying each book  -->
		<script id='bookTemplate' type='text/template'>
		  <div class='col-mid-3'>
			  <img src="<%= coverImage %>" />
			  <ul>
			    <li><%= title %></li>
			    <li><%= author %></li>
			    <li><%= $.format.date( new Date( releaseDate ), 'MMMM yyyy' ) %></li>
			    <li><% _.each( keywords, function( keyobj ) {%> <%= keyobj.keyword %><% } ); %></li>
		    </ul>
			  <button id='delete' class='btn btn-danger'>Delete</button>
		  </div>
		</script>
		<!-- include js scripts  -->		
		<script src='http://codeorigin.jquery.com/jquery-2.0.3.min.js'></script>
		<script src='http://underscorejs.org/underscore-min.js'></script>		
		<script src='http://backbonejs.org/backbone.js'></script>
    <script src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
    <script src='js/lib/jquery.dateFormat-1.0.js'></script>
    <script src='js/lib/bootstrap.min.js'></script>
    <script src="http://eonasdan.github.io/bootstrap-datetimepicker/scripts/bootstrap-datetimepicker.min.js"></script>
		<script src='js/models/book.js'></script>
		<script src='js/collections/library.js'></script>
		<script src='js/views/book.js'></script>
		<script src='js/views/library.js'></script>
		<script src='js/app.js'></script>
	</body>
</html>
